<div class="fullWrap">
  <div class="loginMain">
    <div class="loginMidWrap">
      <div class="sliderMainWrap">
        <h1 class="textCenter primaryColor" style="padding: 30px;">Login</h1>
        <div class="sliderWrap1 formWrap">
          <label for="userName">User Name</label>
          <input type="text" id="userName" name="userName" placeholder="Enter your UserName">

          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your Password">
          <div class="fullWrap textCenter" style="margin-top:30px;">
            <div class="defaultBlueButton btnCenter">Login</div>
          </div>
        </div>
      </div>
      <div class="fullWrap textCenter" style="margin:10px 0">OR</div>
      <a [routerLink]="['/registration']" class="fullWrap textCenter">Create a new account</a>
    </div>
  </div>
</div>