.loginMain
        {
            float: left;
            width: 100%;
            text-align: center;
            padding-top: 20px;
        }
.loginMidWrap
        {
            width: 300px;
            text-align: left;
            display: inline-block;
        }
.sliderMainWrap
        {
            float: left;
            width: 100%;
        }
.sliderWrap1
        {
            float: left;
            width: 100%;
        }