/* 
Primary #1976D2
Secondary RED #EF5350
Active primary Text #484f57
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 130%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
*{box-sizing: border-box;}
a{text-decoration: none;color: #1976D2;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"]  
		{
			width: 100%;
			/*width: calc(100% - 20px);*/
			padding: 5px 0;
			border-bottom: 1px solid #cfd7e0;
			border-left: none;
			border-top: none;
			border-right: none;
			font-family: 'Roboto', sans-serif;
			background-color: transparent;
		}
input:focus, textarea:focus
		{
			box-shadow: none;
    		outline-width: 0;
    		/*border-color:#1976D2 !important;*/
		}
b{font-weight: bold;}
h4
		{
			font-size: 12px;
		}
h3
		{
			font-size: 13px;
		}
h2
		{
			font-size: 16px;
		}
h1
		{
			font-size: 24px;
		}
.textCenter{
	text-align: center;
}
label 
		{
			float: left;
			width: 100%;
			margin-bottom: 6px;
		}
header
		{
			float: left;
			width: 100%;
			background-color: #1976D2;
			border-bottom: 1px solid #ccc;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99999;
		}
.btnCenter
		{
			float: none !important;
			display: inline-block;
		}
.primaryColor, .blue
		{
			color: #1976D2;
		}
.errorColor
		{
			color: #FF0000 !important;
			border-color: #FF0000 !important;
			margin-top: 2px;
		}
.formWrap input
		{
			margin-bottom: 20px;
		}
.mainWrap, body
		{
			background-color: #f5f5f5;
		}
.mainWrap
		{
			float: left;
			width: 100%;
		}
.breadCrumb
		{
			float: left;
			margin-top: 8px;
		}
.breadCrumb li
		{
			float: left;
			margin-right: 5px;
		}
.breadCrumb li a
		{
			float: left;
			width: 100%;
			color: #1976D2;
		}
aside.sideBar
		{
			float: left;
			width: 20%;
			height: calc(100vh - 56px);
			margin-right: 10px;
			/*border-right: 1px solid #ccc;*/
			position: fixed;
			left: 0;
			margin-top: 56px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.39);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.39);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.39);
		}
.rightMainWrap
		{
			float: left;
			width: 80%;
			margin-top: 56px;
			margin-left: 20%;
			padding: 0 30px;
		}
.contentWrap
		{
			float: left;
			width: 100%;
			padding: 0 2%;
		}
.circle
		{
			border-radius: 90%;
			-o-border-radius: 90%;
			-ms-border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
.fullWrap
		{
			float: left;
			width: 100%;
		}
.halfWrap
		{
			float: left;
			width: 50%;
		}
.pullRight
		{
			float: right !important;
		}
.pullLeft
		{
			float: left !important;
		}
.defaultBlueButton
		{
			float: left;
			padding: 8px 30px;
			text-align: center;
			font-size: 13px;
			color: #fff;
			border: 1px solid #1976D2;
			background-color: #1976D2;
			transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			cursor: pointer;
		}
.defaultCancelButton
		{
			float: left;
			padding: 8px 30px;
			text-align: center;
			font-size: 13px;
			color: #cfd7e0;
			border: 1px solid #cfd7e0;
			background-color: #f5f7f9;
			transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			cursor: pointer;
		}
.defaultCancelButton:hover
		{
			color: #484f57;
		}
.defaultBlueButton:hover
		{
			-webkit-box-shadow: 0px 2px 10px 0px rgba(131,145,159,1);
			-moz-box-shadow: 0px 2px 10px 0px rgba(131,145,159,1);
			box-shadow: 0px 2px 10px 0px rgba(131,145,159,1);
		}
.customCheckBox
		{
			float: left;
			position: relative;
			width: 18px;
			height: 18px;
			margin: 7px;
			/*border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;*/
			background-color: #fff;
		}
.customCheckBox .check
		{
			float: left;
			height: 18px;
			width: 18px;
			/*background-image: url('../images/icons/Check-Box.png');*/
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left:0;
			z-index: 1;
			background-color: #F0F0F0;
			/*border: 2px solid #1976D2;*/
		}
.customCheckBox input
		{
			cursor: pointer;
			width: 100%;
			height: 100%;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			opacity: 0;
			margin: 0;
		}
.customCheckBox input:checked ~ .check:before
		{
			content: "\2713";
			float: left;
			width: 14px;
			border: 2px solid #1976D2;
			height: 14px;
			background-color: #1976D2;
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			line-height: 15px;
			font-weight: bold;
			font-size: 17px;
		}
.customCheckBox input:checked ~ .check
		{
			border-color: #1976D2;
		}
.customRadioBtn
		{
			float: left;
			position: relative;
			width: 18px;
			height: 18px;
			margin: 7px;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
			background-color: #fff;
		}
.customRadioBtn .radio
		{
			float: left;
			height: 18px;
			width: 18px;
			/*background-image: url('../images/icons/Check-Box.png');*/
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			top: 0;
			left:0;
			z-index: 1;
			border: 2px solid #1976D2;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
.customRadioBtn input
		{
			cursor: pointer;
			width: 100%;
			height: 100%;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			opacity: 0;
			margin: 0;
		}
.customRadioBtn input:checked ~ .radio:before
		{
			content: "";
			float: left;
			width: 10px;
			height: 10px;
			background-color: #1976D2;
			position: absolute;
			top: 2px;
			left: 2px;
			color: #fff;
			line-height: 15px;
			font-weight: bold;
			font-size: 17px;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
.customRadioBtn input:checked ~ .radio
		{
			border-color: #1976D2;
		}

.addBtnDefault
		{
			float: left;
			text-decoration: underline;
			cursor: pointer;
			color: #1976D2;
		}
.hSingleTitle
		{
			float: left;
			width: calc(100% - 40px);
			color: #fff; 
		}
.hSingleTitle h4
		{
			float: left;
			line-height: 32px;
		}
.logoLink
		{
			padding:8px 15px;
			color: #fff;
			float: left;
			line-height: 22px;

		}
.logoLink .rightWrap
		{
			float: left;
		}
.hAddBtn
		{
			float: right;
			width: 30px;
			height: 30px;
			font-size: 30px;
			color: #fff;
			line-height: 32px;
			cursor: pointer;
			text-align: center;
		}
.headBackIcon
		{
			cursor: pointer;
		}
.commonIconWrap
		{
			float: left;
			width: 25px;
			height: 25px;
			margin-right: 15px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-color: #ccc;
		}
.topLogoIcon
		{
			float: left;
			width: 155px;
			height: 40px;
			/* background-image: url(../images/icons/Logo_white_web.png); */
			background-repeat: no-repeat;
			background-size: contain;
		}
/*

.settingIcon
		{
			background-image: url(../images/icons/settings-blue.png);
		} */

/*
.indexList li:hover .settingIcon, .indexList li.active .settingIcon
		{
			background-image: url(../images/icons/settings-orange.png);
		} */
		.indexList
		{
			float: left;
			width: 100%;
		}
.indexList li
		{
			border-bottom: 1px solid #ccc;
		}
.indexList li *
		{
			transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
		}
.indexList li, .indexList li a
		{
			float: left;
			width: 100%;
		}
.indexList li a
		{
			padding:15px;
		}
.indexList li .rightWrap
		{
			float: left;
			width:calc(100% - 40px);
		}
.indexList li .rightWrap h4
		{
			color: #1976D2;
			line-height: 24px;
		}
/*.indexList li.active, .indexList li:hover
		{
			background-color: #1976D2;
		}*/
.indexList li.active .rightWrap h4, .indexList li:hover .rightWrap h4, 
.indexList li:hover .hDualTitle h4,
.indexList li.active .hDualTitle h4, .indexList li.active .hDualTitle .title2
		{
			color: #EF5350 !important;
		}
.indexList li:hover .hDualTitle h4
		{
			color: #1976D2 !important;
		}
.indexList li:hover .commonIconWrap
		{
			border-color: #ff6d00;
		}
.indexList li.setting
		{
			position: absolute;
			bottom: 0;
			left: 0;
			border-top: 1px solid #ccc;
		}
.defaultDrop
		{
			float: left;
			width: 100%;
			position: relative;
		}
.defaultDrop select
		{
			float: left;
			width: 100%;
			border: 1px solid #ccc;
			/* appearance:none; */
			-moz-appearance:none;
			-webkit-appearance:none;
			padding: 5px 10px;
			background-color: transparent;
			position: relative;
			z-index: 9;
			cursor: pointer;
		}
.defaultDrop span
		{
			float: left;
			width: 15px;
			height: 15px;
			background-image: url("../images/icons/Dropdown-Thin-Grey.png");
			position: absolute;
			background-repeat: no-repeat;
			background-position: center center;
			top: 5px;
			right: 5px;
			z-index: 0;
		}
/*popup css start*/
.popupMainWrap
		{
			float: left;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			position: fixed;
			top: 0;
			left: 0;
			z-index: 99999;
		}
.popupInnerWrap
		{
			float: left;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
.popupHeading
		{
			float: left;
			width: 100%;
			padding: 10px 20px;
			font-size: 18px;
			color: #fff;
			background-color: #1976D2;
			border-radius: 10px 10px 0 0;
			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-radius: 10px 10px 0 0;
		}
.popupContainer
		{
			float: left;
			width: 100%;
			padding: 20px;
		}
.popUpFormWrap
		{

			float: left;
			width: 100%;
		}
.popUpFormWrap label
		{
			float: left;
			width: 100%;
			margin-top: 10px;
			font-size: 14px;	
		}
.popUpFormWrap input
		{
			float: left;
			width: 100%;
			margin-top: 5px;
			margin-bottom: 5px;
			padding: 5px 10px;
			border: 1px solid #ccc;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
.popupInnerWrap .cancel
		{
			float: left;
			width: 22px;
			height: 22px;
			line-height: 22px;
			cursor: pointer;
			position: absolute;
			top: 5px;
			right: 5px;
			font-size: 38px;
			color: #fff;
		}
.logOutBtn
		{
			float: left;
			width: 24px;
			height: 24px;
			margin: 15px 20px;
			cursor: pointer;
			background-image: url("../images/icons/power.png");
		}
